<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

  <link rel="stylesheet" href="{{ "/assets/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="//fonts.googleapis.com/css?family=Libre+Baskerville:400,400italic" rel="stylesheet">
  <link href="//fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r83/three.min.js"></script>
  <style>
      body {
          font-family: Space Mono, monospace;
      }
  </style>
</head>
