@font-face {
  font-family: "TeXGyreHeros-Italic";
  src: url("{{ site.url }}/assets/fonts/TeXGyreHeros-Italic/texgyreheros-italic.eot"); /* IE9 Compat Modes */
  src: url("{{ site.url }}/assets/fonts/TeXGyreHeros-Italic/texgyreheros-italic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("{{ site.url }}/assets/fonts/TeXGyreHeros-Italic/texgyreheros-italic.otf") format("opentype"), /* Open Type Font */
    url("{{ site.url }}/assets/fonts/TeXGyreHeros-Italic/texgyreheros-italic.ttf") format("truetype"), /* Safari, Android, iOS */
    url("{{ site.url }}/assets/fonts/TeXGyreHeros-Italic/texgyreheros-italic.woff") format("woff"), /* Modern Browsers */
    url("{{ site.url }}/assets/fonts/TeXGyreHeros-Italic/texgyreheros-italic.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Fifty-Regular";
  src: url("{{ site.url }}/assets/fonts/Fifty-Regular/Fifty-Regular.woff") format("woff"), /* Modern Browsers */
    url("{{ site.url }}/assets/fonts/Fifty-Regular/Fifty-Regular.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@import // "foundation",
  "base",
  "header",
  "fp-info",
  "marquee",
  "fp-performance.scss",
  "footer.scss",
  "404.scss";