body {
  background-color: $blue;
}

.archive-event {
  display: flex;
    display: -webkit-flex;
      display: -ms-flexbox;
  justify-content: center;
    -webkit-justify-content: center;
      -ms-flex-pack: center;
  margin: 100px 20px 0;
  height: auto;
  @media (max-width: 767px) {
    -webkit-flex-direction: column;
      -ms-flex-direction: column;
        flex-direction: column;
    margin: 50px auto;
  }
}

.archive-thumbnail {
  position: relative;
  width: 400px;
  height: 320px;
  overflow: hidden;
  background-size: cover;
  background-position: center;

  @media (max-width: 767px) {
    margin: 0 auto;
    width: 100%;
    height: 280px;
  }

  & h1 {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    font-size: 80px;
    padding: 0 10px 10px 5px;
    background-color: black;
  }
}

.archive-info {
  width: 400px;
  height: auto;
  margin: 30px 20px;
  font-size: 30px;
  position: relative;

  @media (max-width: 767px) {
    margin: 30px;
    width: 100%;
    font-size: $largeFontMobile;
  }

  & p {
    font-family: $fiftyRegular;
    & a {
      text-decoration: none;
    }
  }

  & li {
    display: inline;
  }

  & li + li:before {
    content: ", ";
  }

  & ul {
    position: absolute;
    left: 0;
    bottom: 0;
    @media (max-width: 767px) {
      position: static;
    }
  }

  & time {
    position: absolute;
    bottom: 40px;
    left: 0;
    @media (max-width: 767px) {
      position: static;
      display: block;
      margin-top: 30px;
    }
  }

}