.fp-info {
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  justify-content: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  width: 100%;
  margin: 100px 0;

  @media (max-width: 767px) {
    -webkit-flex-direction: column;//-reverse;
    -ms-flex-direction: column;//-reverse;
    flex-direction: column;//-reverse;
    margin: 0;
    overflow-x: hidden;
  }
  & aside {
    width: 400px;
    background-color: $blue;
    margin-top: 75px;
    & p {
      margin: 35px 50px;
      color: white;
      font-size: $descriptionFontSize;
      text-align: right;
    }
    @media (max-width: 767px) {
      width: 100%;
      margin: 20px;
    }
  }
  & section {
    color: white;
    max-width: 1000px;
    // display: flex;
    // display: -webkit-flex;
    // display: -ms-flexbox;
    // flex-direction: column;
    // -webkit-flex-direction: column;
    // -ms-flex-direction: column;
    // justify-content: center;
    // -webkit-justify-content: center;
    // -ms-flex-pack: center;
    margin-left: 30px;
    width: 50%;

    @media (max-width: 767px) {
      width: auto;
    }

    & h1, h2, li {
      background-color: black;
      margin: 4px 0;
      padding: 4px;
      display: table;
      font-size: $largeFont;
    }

    & h1 {
    }

    & h2 {
      font-family: $fiftyRegular;
      margin-left: 12px;
    }

    & ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    & li {
      margin-left: 6px;
    }
  }
}