.fp-performances {
}

.fp-performances header {
  font-family: $fiftyRegular;
  margin: 100px 0;
  & h1 {
    margin: 0 0 0 50%;
    background-color: black;
    display: inline-block;
    font-size: $largeFont;
    
    @media (max-width: 767px) {
      margin: auto;
      padding: 10px 0;
      width: 100%;
      font-size: 35px;
    }
  }
  @media (max-width: 767px) {
    text-align: center;
    margin: 50px 0 20px 0;
  }
}

.fp-performance {
  position: relative;
  margin: 40px 50px 40px 50%;
  height: auto;
  background: $blue;
  padding: 50px 50px 70px 35px;
  max-width: 600px;
  min-height: 12vw;

  @media (max-width: 767px) {
    margin: 40px 0;
    width: 100%;
    box-sizing: border-box;
    max-width: 100%;
  }

  & h2, p, li {
    font-size: $descriptionFontSize;
    margin: 12px 0;
  }
  
  & h1 {
    font-family: $fiftyRegular;
    font-size: 30px;
    margin: 0 0 20px 0;
    @media (max-width: 767px) {
      margin: 0 0 10px 0;
    }
  }

  & h3 {
    display: none;
  }

  & p {
    display: block;
    margin: 0;
  }

  & ul {
    list-style: none;
    padding: 0;
    display: inline;
  }
  & h2 {
    display: inline-block;
  }
  & li {
    display: inline;
  }

  & li + li:before {
    content: ", ";
  }
}

.fp-performance-media {
  position: absolute;
  transform: translate(-100%,0);
  left: -40px;
  top: 0;
  overflow: hidden;
  width: 32vw;
  height: 18vw;
  max-width: 600px;
  max-height: 338px;

  @media (max-width: 767px) {
    position: static;
    transform: translate(0);
    width: 100vw;
    height: 56.25vw;
    margin: 20px 0 20px -35px;
    max-width: 100vw;
  }

  & iframe {
    width: 100%;
    height: 100%;
  }
}

.fp-performance-image {
  overflow: hidden;
  background-size: cover;
  background-position: center;
  position: absolute;
  left:0;
  top: 0;
  height: 100%;
  width: 100%;
}

.fp-performance-media-play {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width: 40%;
  height: auto;
}

.fp-performance-media-play:hover {
  width: 45%;
  cursor: pointer;
}