html {
	height: 100%;
}

body {
	margin: 0;
	min-height: 100%;
	height: 100%;
	width: 100%;
}

div.text {
	color: white;
	font-family: Space Mono, monospace;
	width: 100%;
	height: 100%;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	    flex-direction: column;
}

@media screen and (min-width: 769px) {
	div.text {
		-ms-flex-direction: row;
		    flex-direction: row;
	}
}

a {
	color: white;
	font-size: 2vw;
}

@media screen and (min-width: 769px) {
	a {
		font-size: 1vw;
	}
}

.performer-name {
	margin: 0;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	    flex-direction: column;
	-ms-flex-pack: center;
	    justify-content: center;
	padding: 1vh 0;
}

a:hover {
	color: blue;
}

canvas {
	display: block;
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: -1;
}

.headline-container {
	min-height: 100%;
	height: 100%;
	-ms-flex: 1;
	    flex: 1;
}

.post-container {
	min-height: 100%;
	height: 100%;
	-ms-flex: 1.5;
	    flex: 1.5;
}

.post {
	background-color: rgba(0, 0, 0, 0.35);
	padding-left: 30px;
}

.performances > h3 {
	text-align: center;
}

.performances > h1 {
	text-align: center;
}
.performances > a {
	text-align: center;
}

.headline-container, .post-container {
	height: 100%;
}

.headline, .post {
	height: 100%;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	    flex-direction: column;
	-ms-flex-pack: center;
	    justify-content: center;
	padding: 0 10px;
}

@media screen and (min-width: 769px) {
	.headline, .post {
		padding: 0 20px;
	}
}

.title {
	font-size: 18vw;
}

@media screen and (min-width: 769px) {
	.title {
		font-size: 8vw;
	}
}

.subtitle {
	font-size: 6vw;
}

@media screen and (min-width: 769px) {
	.subtitle {
		font-size: 2vw;
	}
}

.post-header {
	font-size: 5.5vw;
	text-align: center;
	width: 100%;
}

@media screen and (min-width: 769px) {
	.post-header {
		font-size: 3vw;
	}
}

.wherewhen {
	font-size: 16px;
	width: 100%;
	text-align: center;
}

@media screen and (min-width: 769px) {
	.wherewhen {
		font-size: 1.5vw;
		padding-left: 10%;
		text-align: left;
	}
}

.description {
	padding-left: 5%;
	padding-right: 5%;
	margin-top: 20px;
	margin-bottom: 20px;
}

@media screen and (min-width: 769px) {
	.description {
		padding-left: 10%;
		padding-right: 10%;
	}
}

ul#performance-list {
	padding-left: 3%;
	padding-right: 3%;
	list-style: none;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}

ul#performance-list li {
	-ms-flex: 1 1 auto;
	    flex: 1 1 auto;
	width: 50%;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	    flex-direction: column;
	-ms-flex-align: center;
	    align-items: center;
}

li {
	text-align: center;
}