<table align="{% if index == 0 %}left{% else %}right{% endif %}" border="0" cellpadding="0" cellspacing="0" class="mcnCaptionBottomContent" width="282">
  <tbody>
    <tr>
      <td class="mcnCaptionBottomImageContent" align="center" valign="top" style="padding:0 9px 9px 9px;">
        <div class="performer-entry" style="background-image: url({{ currentPerformance.image | prepend: page.assets | prepend: site.url }})" width="264" height="200"></div>
      </td>
    </tr>
    <tr>
      <td class="mcnTextContent" valign="top" style="padding:0 9px 0 9px;" width="264">
        <div style="text-align:left;font-size:24px">{{ currentPerformance.name }}</div>
        <div style="text-align:left;font-size:16px;line-height:120%;padding-top:5px">{% for performer in currentPerformance.performers %}{{ performer.name }}{% if forloop.last == false %}, {% endif %}{% endfor %}</div>
      </td>
    </tr>
  </tbody>
</table>