<!-- {{page.performances[forloop.index0]}} -->
<table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnCaptionBlock">
  <tbody class="mcnCaptionBlockOuter">
    <tr>
      <td class="mcnCaptionBlockInner" valign="top" style="padding:9px;">
      {% assign currentPerformance = page.performances[forloop.index0] %}
      {% include email/performance.html %}
      {% assign currentPerformance = page.performances[forloop.index] %}
      {% include email/performance.html %}
      </td>
    </tr>
  </tbody>
</table>