<!DOCTYPE html>
<html>
{% capture style %}{% include styles.scss %}{% endcapture %}
{% include head.html %}
<body>
{% include header.html %}
{% capture dir %}archive/{{ page.title }}{% endcapture %}
<div id="freewall" class="free-wall">
{% for file in site.static_files %}
  {% if file.path contains dir %}
    {% if file.path contains ".jpg" or file.path contains ".png" %}
      <div class="brick">
      <a href="#" data-featherlight="{{ file.path }}">
        <img src="{{ file.path }}" width="100%"/>
      </a>
      </div>
    {% endif %}
  {% endif %}
{% endfor %}
</div>
<script type="text/javascript" src="{{ site.url }}/assets/js/gallery.bundle.js"></script>
<style type="text/css">
  /* silly fix for featherlight */
  .featherlight .featherlight-content {
    border: 0;
    padding: 0;
  }
  .featherlight .featherlight-image {
    border: 20px solid #fff;
    max-width: 100%;
  }
  @media only screen and (max-width: 1024px) {
    .featherlight .featherlight-image {
        border: 10px solid #fff;
    }
  }
  body {
    background-color: white;
  }
</style>
{% include footer.html %}
</body>
</html>