<!DOCTYPE html>
<html>
{% capture style %}{% include info.scss %}{% endcapture %}
{% include head.html %}
<body>
{% include header.html %}
<section>
  <svg class="info-logo">
  {% include svgs/logo_round_no_bg.svg %}
  </svg>
  <article class="info-about">
    <header>
      <h1>About</h1>
    </header>
    <p>Mixed Signals is an outpouring of enthusiasm for music, performance and creative expression, coagulating into a regular series of concerts in New York City. In an era where a concert is just as likely to be heard as it is to be seen, inhaled or ingested, Mixed Signals follows the trajectory of artists grappling with an ever-expanding array of modes of expression. A widening scope of digital and analog tools drives artwork that unifies the senses and tells stories that extend across times and spaces, both real and virtual.</p>
    <p>Mixed Signals strives to put on events drawing on talent from people working in many different forms and communities. People naturally organize around academic institutions, software and hardware tools, places and other people—we attempt to bridge these organizations to encourage cross pollination between creative communities.</p>
    <p>Anyone can perform at Mixed Signals. If you’ve got work you’d like to show, don’t hesitate to get in touch.</p>
  </article>
  <div id="mc_embed_signup">
    <form action="//nyc.us15.list-manage.com/subscribe/post?u=10687bccc47440830cb6ebc06&amp;id=a6122a2686" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <h1>Subscribe to our mailing list</h1>
      <label for="mce-EMAIL" class="hidden">Email Address</label>
      <div class="input-wrapper">
      <input type="email" placeholder="jane.doe@email.com" name="EMAIL" class="required email" id="mce-EMAIL" onfocus="placeholder=''" onblur="placeholder='jane.doe@email.com'">
      <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <input style="position: absolute; left: -5000px;" aria-hidden="true" type="text" name="b_10687bccc47440830cb6ebc06_a6122a2686" tabindex="-1" value="">
      <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
      </div>
      <div id="mce-success-response"></div>
    </form>
  </div>
  <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
  <script type='text/javascript'>
  (function($) {
    window.fnames = new Array();
    window.ftypes = new Array();
    fnames[0] = 'EMAIL';
    ftypes[0] = 'email';
    // fnames[1] = 'FNAME';
    // ftypes[1] = 'text';
    // fnames[2] = 'LNAME';
    // ftypes[2] = 'text';
  }(jQuery));
  var $mcj = jQuery.noConflict(true);
  </script>
  <article class="contact-info">
    <h1 class="hidden">Contact Information</h1>
    <h2>If you would like to perform at the next Mixed Signals, <a href="{{ site.url }}/project_submission">get in touch!</a></h2>
    <address>
    <div>Mixed Signals</div>
    <div>Brooklyn, NY</div>
    <div class="info-email"><a href="mailto:info@mixedsignals.nyc">info@mixedsignals.nyc</a></div>
    </address>
  </article>
</section>
{% include footer.html %}
</body>
</html>