<!DOCTYPE html>
<html>

{% include head.html %}

<body>
{% include header.html %}

  <article class="fp-info">
    <section>
      <h1>{{ page.title }}</h1>
      <h2>{{ page.subtitle }}</h2>
      <ul>
        <li><time datetime={{ page.datetime }}>{{ page.datetime }}</time></li>
        {% if page.location.url %}
        <li><a href="{{ page.location.url }}">{{ page.location.name }}</a></li>
        {% else if page.location.url == "" %}
        <li>{{ page.location.name }}</li>
        {% endif %}
    </section>
    <aside>
      <p>{{ page.description }}</p>
    </aside>
  </article>
  {% include marquee.html %}
  <article class="fp-performances">
    <header>
      <h1>Performances</h1>
    </header>
  {% for performance in page.performances %}
    {% capture performance %}{{ performance }}{% endcapture %}
    {% include performance.html %}
  {% endfor %}
  </article>
  {% include marquee.html %}
  {% include footer.html %}
</body>
</html>