<!DOCTYPE html>
<html>

{% include head.html %}

<body>
  <header></header>
  <nav>
    <h1>Mixed Signals</h1>
    <ul>
      <li>Info</li>
      <li>Archive</li>
    </ul>
  </nav>
  <article>
    <aside>
      <section>
        <p>{{ page.description }}</p>
      </section>
    </aside>
    <header>
      <h1>{{ page.title }}</h1>
      <h2>{{ page.subtitle }}</h2>
      <ul>
        <li>{{ page.datetime }}</li>
        {% if page.location.url %}
        <li><a href="{{ page.location.url }}">{{ page.location.name }}</a></li>
        {% else if page.location.url == "" %}
        <li>{{ page.location.name }}</li>
        {% endif %}
    </header>
  </article>
  {% include marquee.html %}
  <article>
    <header>
      <h1>Performances</h1>
    </header>
  {% for performance in page.performances %}
    {% capture performance %}{{ performance }}{% endcapture %}
    {% include performance.html %}
  {% endfor %}
  </article>
  {% include marquee.html %}
  {% include footer.html %}
</body>
</html>