<!DOCTYPE html>
<html>

{% include head.html %}

<body>
  <!--   <div class="text">
        <div class="headline-container">
            <div class="headline">
                <div class="title" >MIXED SIGNALS</div>
                <div class="subtitle" >An evening of electronic music, performance art and...buffering...</div>
            </div>
        </div>
        <div class="post-container">
            <div class="post">
                <div class="post-header">
                    Volume 1: The Tortured Self
                </div>
                <div class="wherewhen">
                    {{ page.wherewhen }}
                </div>
                <div class="description">
                    {{ page.description }}
                </div>
                <div class="performances">
                    <h3>PERFORMANCES BY</h3>
                    <ul id="performance-list">
                      {% for performer in page.performers %}
                      <li>
                        <p class="performer-name">
                          <a href="{{ performer.link }}">{{ performer.name }}</a>
                        </p>
                      {{ performer.iframe }}
                      </li>
                      {% endfor %}
                    </ul>
                    {% for link in page.links %}
                    <a href={{ link.url }}><h2> {{link.title}} </h2></a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div id="container"></div>
    <!-- <script type="text/javascript" src="./randomize-name-order.js"></script> -->
    <script id="vertexShader" type="x-shader/x-vertex">
        void main() {
            gl_Position = vec4( position, 1.0 );
        }
    </script>
    <script id="fragmentShader" type="x-shader/x-fragment">
        // #ifdef GL_ES
        // precision mediump float;
        // #endif

        uniform vec2 u_resolution;
        uniform vec2 u_mouse;
        uniform float u_time;

        vec2 random2( vec2 p ) {
            return fract(sin(vec2(dot(p,vec2(127.1,311.7)),dot(p,vec2(269.5,183.3))))*43758.5453);
        }

        void main() {
            vec2 st = gl_FragCoord.xy/u_resolution.xy;
            st.x *= u_resolution.x/u_resolution.y;
            vec3 color = vec3(.0);

            // Scale
            st *= 10.;

            // Tile the space
            vec2 i_st = floor(st);
            vec2 f_st = fract(st);

            float m_dist = 1.;  // minimun distance

            for (int y= -1; y <= 1; y++) {
                for (int x= -1; x <= 1; x++) {
                    // Neighbor place in the grid
                    vec2 neighbor = vec2(float(x),float(y));

                    // Random position from current + neighbor place in the grid
                    vec2 point = random2(i_st + neighbor);

              // Animate the point
                    point = 0.5 + 0.5*sin(0.2*u_time + 6.2831*point);

              // Vector between the pixel and the point
                    vec2 diff = neighbor + point - f_st;

                    // Distance to the point
                    float dist = length(diff);

                    // Keep the closer distance
                    m_dist = min(m_dist, dist);
                }
            }

            // Draw the min distance (distance field)
            color += m_dist;

            // Show isolines
            // color -= step(.7,abs(sin(27.0*m_dist)))*.5;

            color *= sin(m_dist * 100. +   5. * u_time);
            gl_FragColor = vec4(color,1.0);
        }
    </script>
    <script>
        var container;
        var camera, scene, renderer;
        var uniforms;
        var initTime;

        init();
        animate();

        function init() {
            initTime = Date.now();
            container = document.getElementById( 'container' );

            camera = new THREE.Camera();
            camera.position.z = 1;

            scene = new THREE.Scene();

            var geometry = new THREE.PlaneBufferGeometry( 2, 2 );

            uniforms = {
                u_time: { type: "f", value: 1.0 },
                u_resolution: { type: "v2", value: new THREE.Vector2() },
                u_mouse: { type: "v2", value: new THREE.Vector2() }
            };

            var material = new THREE.ShaderMaterial( {
                uniforms: uniforms,
                vertexShader: document.getElementById( 'vertexShader' ).textContent,
                fragmentShader: document.getElementById( 'fragmentShader' ).textContent
            } );

            var mesh = new THREE.Mesh( geometry, material );
            scene.add( mesh );

            renderer = new THREE.WebGLRenderer();
            renderer.setPixelRatio( window.devicePixelRatio );

            container.appendChild( renderer.domElement );

            onWindowResize();
            window.addEventListener( 'resize', onWindowResize, false );

            document.onmousemove = function(e){
              uniforms.u_mouse.value.x = e.pageX
              uniforms.u_mouse.value.y = e.pageY
            }
        }

        function onWindowResize( event ) {
            if (window.innerWidth < 769) {
                renderer.setSize( window.innerWidth, window.innerHeight*2 );
            } else {
                renderer.setSize( window.innerWidth, window.innerHeight );
            }
            uniforms.u_resolution.value.x = renderer.domElement.width;
            uniforms.u_resolution.value.y = renderer.domElement.height;
        }

        function animate() {
            requestAnimationFrame( animate );
            render();
        }

        function render() {
            uniforms.u_time.value = (initTime - Date.now()) / 1000;
            renderer.render( scene, camera );
        }
    </script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-91009004-1', 'auto');
      ga('send', 'pageview');

    </script> -->
</body>
</html>